
@font-face {font-family: "iconfont";
	src: url('//at.alicdn.com/t/font_4p6ljmr2a1qbyb9.eot?t=1489390983141'); /* IE9*/
	src: url('//at.alicdn.com/t/font_4p6ljmr2a1qbyb9.eot?t=1489390983141#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/font_4p6ljmr2a1qbyb9.woff?t=1489390983141') format('woff'), /* chrome, firefox */
	url('//at.alicdn.com/t/font_4p6ljmr2a1qbyb9.ttf?t=1489390983141') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/font_4p6ljmr2a1qbyb9.svg?t=1489390983141#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before { content: "\e62a"; }

.icon-close:before { content: "\e60b"; }

.icon-password:before { content: "\e60f"; }

.icon-quanpingt:before { content: "\e60a"; }

.icon-linshikehu1:before { content: "\e614"; }

.icon-neiwang:before { content: "\e6a4"; }

.icon-readme:before { content: "\e62b"; }

.icon-zuidahua:before { content: "\e611"; }

.icon-anquan:before { content: "\e600"; }

.icon-qingchuhuancun:before { content: "\e661"; }

.icon-zuixiaohua:before { content: "\e663"; }

.icon-ajdc:before { content: "\e607"; }

.icon-guanli:before { content: "\e639"; }

.icon-zichan1:before { content: "\e64c"; }

.icon-ecs-disk:before { content: "\e62e"; }

.icon-quanping:before { content: "\e643"; }

.icon-xiejiantou:before { content: "\e62f"; }

.icon-tu601:before { content: "\e606"; }

.icon-sjwj:before { content: "\e608"; }

.icon-neicun:before { content: "\e63e"; }

.icon-tjbb:before { content: "\e667"; }

.icon-dmzyewuwang:before { content: "\e63a"; }

.icon-zichan:before { content: "\e616"; }

.icon-renshi:before { content: "\e6c4"; }

.icon-cuowu:before { content: "\e673"; }

.icon-fengxian:before { content: "\e635"; }

.icon-OA:before { content: "\e601"; }

.icon-zhi:before { content: "\e609"; }

.icon-CPU:before { content: "\e604"; }

.icon-yanfa:before { content: "\e602"; }

.icon-iconfont-jishu:before { content: "\e630"; }

.icon-zichan2:before { content: "\e6c0"; }
