@import "mixin";
body,html{
	height:100%;
	overflow: hidden;
	font-size: 14px;
	font-family: "Verdana","Microsoft YaHei";
}
body{
	background: url("../assets/images/bg.jpg") no-repeat;
	background-size: cover;
}
.alarm-num{
	background: darkred;
	display: inline-block;
	padding:0 5px;
	height:16px;
	line-height:16px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	color: #ffffff;
	margin-left:4px;
}
#footer{
	.el-badge__content.is-fixed.is-dot{
		top:5px !important;
	}
}
.iFrame-show{
	position: absolute;
	@include boxShadow();
	background: #fff;
	width: 1100px;
	height:700px;
	.iFrame-show-title{
		height:32px;
		background-color: chocolate;
		line-height: 32px;
		color: #fff;
		padding:0 12px;
		cursor:move;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		.handle-icon{
			float: right;
			a{
				margin-left:4px;
			}
		}
	}
	.iFrame-show-content {
		padding: 10px;
		position: absolute;
		left: 10px;
		top: 42px;
		bottom: 15px;
		right: 10px;
		overflow: auto;
	}
	//.drag-btn{
	//	position: absolute;
	//	right:0px;
	//	bottom: 0px;
	//	cursor:e-resize;
	//	filter:alpha(opacity=0);
	//	opacity:0;
	//	z-index:1;
	//	right:0px;
	//	&.bottom-drag{
	//		left:0px;
	//		cursor: n-resize;
	//		height:10px;
	//	}
	//	&.right-drag{
	//		top:32px;
	//		width: 10px;
	//	}
	//}
	//.right-bottom-drag{
	//	position: absolute;
	//	right:0;
	//	bottom:0;
	//	cursor:nw-resize;
	//	z-index: 3;
	//}
}



::-webkit-scrollbar {
	width: 8px;
	height: 4px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
	background-color:rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
	background-color:rgba(0, 0, 0, 0.5);
}